<div
    class="flex flex-col h-full bg-gradient-to-r from-indigo-300 via-purple-300 to-pink-300 p-8 rounded text-gray-700 gap-8">
    <a href="https://instagram.com/kezurya" target="_blank">
        <div class="flex flex-row gap-2 items-center justify-center">
            <fa-icon size="2x" [icon]="faInstagram" />
            <p class="font-semibold text-lg text-center ">Instagram
            </p>
        </div>
    </a>

    <a href="https://www.facebook.com/spikesofficialband" target="_blank">
        <div class="flex flex-row gap-2 items-center justify-center">
            <fa-icon size="2x" [icon]="faFacebook" />
            <p class="font-semibold text-lg text-center">Facebook</p>
        </div>
    </a>
</div>