<div
    class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 py-2 px-4 flex flex-row items-center text-black">

    <span *ngIf="!this.sidenavOpen">
        <fa-icon (click)="this.toggleSidenav()" size="2x" [icon]="faBars" />
    </span>

    <span *ngIf="this.sidenavOpen">
        <fa-icon (click)="this.toggleSidenav()" size="2x" [icon]="faXmark" />
    </span>


    <div class="flex items-center justify-center grow">
        <a [routerLink]="['/']">
            <img class="h-16 rounded-full" src="assets/kezurya-logo.jpg" alt="Logo">
        </a>
    </div>

</div>