<div class="flex flex-col items-center justify-center">
    <img class="rounded" src="assets/live-sabaudia.jpg" alt="Logo">

    <div class="flex flex-col mt-2 items-center gap-2 justify-center px-2">
        <h1
            class="text-5xl font-extrabold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 inline-block text-transparent bg-clip-text">
            Kezurya
        </h1>

        <p class="text-lg font-normal text-gray-400 text-center">I <b>Kezurya</b> sono una band punk rock di Latina
            formatasi
            nel 2018, composta da rockettari del territorio pontino: <b>Manuele Muraca</b> al basso e voce,
            <b>Andrea Coluzzi</b> alla
            Chitarra e <b>Danilo Chiacchierini</b> alla batteria e cori.
            <br /> <br />
            Nelle loro incisioni si possono sentire influenze del rock degli anni 2000, rielaborando quel suono con
            sfumature moderne.
        </p>
    </div>
</div>